.game_app {position: relative; height: 100vh;}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 100%; height: 100%; background-color: #000;}

@keyframes character_idle {
	from {background-position-x: 0px;}
	to {background-position-x: -3770px;}
}
@keyframes character_run {
	from {background-position-x: 0px;}
	to {background-position-x: -3770px;}
}
@keyframes character_attack {
	from {background-position-x: 0px;}
	to {background-position-x: -3770px;}
}

.character_box {position: fixed; left:0; bottom:0; z-index: 100; width: 377px; height: 458px;}
.character_box .character {height: 100%; background-image: url('../../../lib/images/ninja_idle.png'); background-size: 3770px 458px; animation: character_idle 0.7s infinite steps(10);}
.character_box .character.flip {transform: rotateY(180deg);}
.character_box .character.run {height: 100%; background-image: url('../../../lib/images/ninja_run.png'); background-size: 3770px 458px; animation: character_run 0.7s infinite steps(10);}
.character_box .character.attack {height: 100%; background-image: url('../../../lib/images/ninja_attack.png'); background-size: 3770px 458px; animation: character_attack 0.7s infinite steps(10);}

.character_bullet {position: absolute; left:0; bottom:0; z-index:90; width:160px; height:32px; background-image: url('../../../lib/images/hero_bullet.png'); background-size:cover; background-repeat: no-repeat;}
