.game_app {overflow: hidden; position: relative; min-width: 1280px; height: 100vh;}
.game_app .game {position: absolute; left: 0; bottom: 0; z-index: 10; width: 3000px; height: 3000px; background-image: url('../../../lib/images/background.png'); background-repeat: repeat; background-size: auto auto; will-change: transform;}

.game_info {position: fixed; left:0; top:0; z-index:20; width: 100%; height: 150px;}
.game_info .tank_state {width: 300px; height: 100%; padding:10px;}
.game_info .tank_state .tank_img {float: left; width: 20%;}
.game_info .tank_state .state_box {float: left; width: 80%; height: 100%; padding-top:10px;}
.game_info .tank_state .state_box .hp {width: 100%; height: 10px; border:1px solid #000;}
.game_info .tank_state .state_box .hp span {display: block; width: 100%; height: 100%; background-color: red; transition: width .3s linear;}

.game_info .score_box {position: absolute; top: 10px; right: 10px; color:#fff; font-size: 18px;}

.game_over {display:none; position: fixed; left:0; top: 0; z-index: 200; width: 100%; height: 100%; background-color: rgba(0,0,0,.5);}
.game_over.active {display: block;}
.game_over p {display: flex; height: 100%; align-items: center; justify-content: center; color: #fff; font-size: 150px;}

@keyframes stageStart {
	0% {opacity: 1;}
	80% {opacity: 1;}
	100% {opacity: 0;}
}

.stage_box {position: absolute; left: 50%; top: 50%; z-index: 190; transform: translate(-50%, -50%); color: #fff; font-size: 90px; white-space: nowrap; animation: stageStart 1.5s; animation-fill-mode: both;}


/* keyframes : 애니메이션 구간을 정하고 어떤 스타일을 적용시킬지 정하는 문법 (name, 구간,스타일로 구성) */
@keyframes tank_basic {
	from {background-position-x: 0px;}
	to {background-position-x: -1900px;}
}
@keyframes tank_move {
	from {background-position-x: 0px;}
	to {background-position-x: -1900px;}
}
@keyframes tank_attack {
	from {background-position-x: 0px;}
	to {background-position-x: -1900px;}
}
@keyframes tank_crash {
	from {background-position-x: 0px;}
	to {background-position-x: -760px;}
}
@keyframes tank_dead {
	from {background-position-x: 0px;}
	to {background-position-x: -1710px;}
}

.tank_box {position: fixed; left:0; bottom: 0; z-index:100; width: 190px; height: 191px; will-change: transform;}
.tank_box .tank {height: 100%; background-image: url('../../../lib/images/tank_basic.png'); background-size: 1900px 191px; animation: tank_basic 0.7s infinite steps(10);}
/* animation 에 keyframes name을 불러와 적용 (0.7s 동안 keyframes의 범위를 10번으로 나눠 이동)  */

.tank_box .tank.rotate {transform: rotate(0deg);}

.tank_box .tank.move, .tank_box .tank.move.attack {height: 100%; background-image: url('../../../lib/images/tank_move.png'); background-size: 1900px 191px; animation: tank_move 0.7s infinite steps(10);}
/* attak모션이 한번만 발생할 수 있도록 우선순위 조정 */
.tank_box .tank.attack {height: 100%; background-image: url('../../../lib/images/tank_attack.png'); background-size: 1900px 191px; animation: tank_attack 0.1s 1 steps(10);}
/* class를 명시해두고 js파일에서 element.add / remove를 통해 컨트롤 하는듯 */
.tank_box .tank.crash {background-image: url('../../../lib/images/tank_crash.png'); background-size: 760px 190px; animation: tank_crash 0.4s 1 steps(4);}
.tank_box .tank.dead {background-image: url('../../../lib/images/tank_dead.png'); background-size: 1900px 191px; animation: tank_dead 0.4s 1 steps(9) forwards;}


.tank_bullet {position: absolute; left: 0; bottom: 0; z-index: 90; width: 30px; height: 50px; background-image: url('../../../lib/images/normal_bullet.png'); background-size: cover; background-repeat: no-repeat; will-change: transform;}

@keyframes monster_run{
	from {background-position-x: 0px;}
	to {background-position-x: -2242px;}
}

.monster_box {position: absolute; left: 0px; bottom: 0px; z-index: 90; width: 280px; height: 294px; will-change: transform;}
.monster_box.remove {opacity: 0; transition: opacity .2s;}
.monster_box .monster {height: 100%; background-image: url('../../../lib/images/monster/monster_green_run.png'); background-size: 2242px 294px; animation: monster_run 1s infinite steps(8);}
.monster_box .monster.flip {transform: rotateY(180deg);}
.monster_box .hp {position: absolute; left:0; top:0; width: 100%; height: 10px; border:2px solid #000; transform: translateY(-100%);}
.monster_box .hp span {display: block; width: 100%; height: 100%; background: red; transition: width .3s linear;}

.monster_box.yellow_mon .monster {background-image: url('../../../lib/images/monster/monster_yellow_run.png');}
.monster_box.pink_mon .monster {background-image: url('../../../lib/images/monster/monster_pink_run.png');}

@keyframes monster_run_boss {
	from { background-position: 0px; }
	to { background-position: -3600px; }
}

.monster_box.green_mon_boss {width: 450px; height: 472px;}
.monster_box.green_mon_boss .monster {background-image: url('../../../lib/images/monster/monster_green_run.png'); background-size: 3600px 472px; animation: monster_run_boss 1s infinite steps(8);}

.monster_box.yellow_mon_boss {width: 450px; height: 472px;}
.monster_box.yellow_mon_boss .monster {background-image: url('../../../lib/images/monster/monster_yellow_run.png'); background-size: 3600px 472px; animation: monster_run_boss 1s infinite steps(8);}

.monster_box.pink_mon_boss {width: 450px; height: 472px;}
.monster_box.pink_mon_boss .monster {background-image: url('../../../lib/images/monster/monster_pink_run.png'); background-size: 3600px 472px; animation: monster_run_boss 1s infinite steps(8);}

@keyframes textDamage {
	0% {opacity: 0; bottom:0;}
	70% {opacity: 1; bottom:50px;}
	100% {opacity: 0; bottom:90px;}
}
.text_damage {position: absolute; left:0; bottom: 0; z-index: 200; font-family: 'roboto'; font-size: 110px; background: linear-gradient(to bottom, rgba(196,41,30,1) 0%,rgba(230,89,191,1) 100%); -webkit-text-stroke: 5px rgba(255,255,255,.7); -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: textDamage .5s ease-out; animation-fill-mode: both;}